# Python
__pycache__/
*.pyc
.pytest_cache/

# Virtual Environment
venv/
.venv/

# Django
db.sqlite3
*.log
staticfiles/

# Environment variables
.env

# OS
.DS_Store

# Node.js
node_modules/

# omc
.omc