{% extends 'base.html' %}
{% block title %}サインアップ{% endblock %}

{% block content %}
<div class="container mt-5 col-md-4">
    <div class="card shadow-sm border-0">
        <div class="card-body p-4">

            <h2 class="text-center mb-1">サインアップ</h2>
            <p class="text-muted text-center mb-4">
                JournaLog を始めましょう
            </p>

            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}

                <div class="mb-3">
                    <label class="form-label">ユーザーネーム</label>
                    {{ form.username }}
                    {{ form.username.errors }}
                </div>

                <div class="mb-3">
                    <label class="form-label">パスワード</label>
                    {{ form.password1 }}
                    {{ form.password1.errors }}
                </div>

                <div class="mb-3">
                    <label class="form-label">パスワード（確認）</label>
                    {{ form.password2 }}
                    {{ form.password2.errors }}
                </div>

                <button type="submit" class="btn btn-primary w-100 py-2">
                    アカウントを作成
                </button>
            </form>

            <p class="mt-4 text-center small">
                すでにアカウントをお持ちですか？
                <a href="{% url 'accounts:login' %}">
                    ログイン
                </a>
            </p>

        </div>
    </div>
</div>
{% endblock %}