.reflection-text { 
    color: var(--reflection); 
}
.reflection-btn { 
    border: 2px solid var(--reflection); 
}
.reflection-btn:hover { 
    background-color: var(--reflection); color: #fff; 
}
.reflection-card { 
    border: 2px solid var(--reflection); 
}