{% extends 'base.html' %}

{% block title %}ホーム{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>{{ user.username }}さんのカレンダー</h2>

    <!-- 年・月プルダウン -->
    <form method="get" id="calendar-form" class="mb-3">
        <select name="year"
                class="form-select d-inline w-auto"
                onchange="document.getElementById('calendar-form').submit();">
            {% for y in years %}
                <option value="{{ y }}" {% if y == year %}selected{% endif %}>{{ y }}</option>
            {% endfor %}
        </select>
    
        <select name="month"
                class="form-select d-inline w-auto"
                onchange="document.getElementById('calendar-form').submit();">
            {% for m in months %}
                <option value="{{ m }}" {% if m == month %}selected{% endif %}>{{ m }}</option>
            {% endfor %}
        </select>
    </form>

    <!-- カレンダー表示 -->
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>日</th><th>月</th><th>火</th><th>水</th><th>木</th><th>金</th><th>土</th>
            </tr>
        </thead>
        <tbody>
            {% for week in cal_data %}
            <tr>
                {% for day in week %}
                    <td class="
                        calendar-cell
                        {% if day.day.month != month %} other-month {% endif %}
                        {% if day.day == today %} today {% endif %}
                        {% if day.has_journal %} has-journal {% endif %}
                        "
                    >
                    {% if day.day.month != month %}
                        <span class="text-muted">{{ day.day.day }}</span>
                    {% else %}
                        <a href="{% if day.has_journal %}
                        {% url 'journal:journal_detail'
                        year=day.day.year month=day.day.month day=day.day.day %}
                        {% else %}
                        {% url 'journal:journal_init'
                        year=day.day.year month=day.day.month day=day.day.day %}
                        {% endif %}"
                        {% if day.has_journal %} fw-bold text-white {% else %} text-dark {% endif %}">
                        {{ day.day.day }}
                        </a>
                    {% endif %}
                    </td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}