{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pages/create_update.css' %}">
<link rel="stylesheet" href="{% static 'css/components/buttons.css' %}">
{% endblock %}

{% block content %}
<div class="container my-4">

    <section class="journal-card {{ feature }}-card">

        <div class="card-header">
            <h5 class="{{ feature }}-text view-title">
                {% block section_title %}{% endblock %}
            </h5>

            <a href="{{ cancel_url }}" class="btn back-btn {{ feature }}-btn {{feature}}-text">
                キャンセル
            </a>
        </div>

        <hr class="section-divider {{ feature }}-divider">

        <div>
            <form method="post">
                {% csrf_token %}
                {% block form_fields %}

                {% endblock %}

                <div class="journal-submit text-center mt-3">
                    <button type="submit" class="btn btn-lg {{ feature }}-btn">
                        編集を完了
                    </button>
                </div>
            </form>
        </div>

    </section>

</div>
{% endblock %}