{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container my-4">

    <section class="journal-card {{ feature }}-field">

        <div class="card-header">
            <h5 class="{{ feature }}-text">
                {% block section_title %}{% endblock %}
            </h5>

            <a href="{{ cancel_url }}" class="back-btn">
                ← Journalへ戻る
            </a>
        </div>

        <hr class="section-divider {{ feature }}-divider">

        <div class="card-body {{ feature }}-card">
            <form method="post">
                {% csrf_token %}
                {% block form_fields %}
                {% endblock %}

                <div class="form-actions">
                    <button type="submit" class="btn {{ feature }}-bg">
                        保存する
                    </button>
                </div>
            </form>
        </div>

    </section>

</div>
{% endblock %}